{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Bengali:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <style>
        body {
            font-family: "Inter", sans-serif;
        }
    </style>
</head>
<body class="bg-gray-50 p-6">
    <div class="max-w-[1400px] mx-auto">
        <header class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-semibold">Event Management</h1>
            <div class="flex items-center gap-4">
              <a href="{% url 'dashboard' %}" class="p-2 rounded-full bg-blue-500 text-white relative">Events</a>
            </div>
          </header>
    </div>
    <div class="bg-blue-500 h-96 mb-6">
        <h1 class="text-4xl font-black text-white flex justify-center p-6">Welcome to Event Management System</h1>
        <p class="text-xl text-white flex justify-center mb-8">Enjoy Your Event With us</p>
        <div class="flex justify-center">
            <button class="bg-white text-blue-500 p-4 rounded-xl">Get Starts</button>
        </div>
    </div>
</body>
</html>